*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{
 text-decoration: none;
 color: black; 
}
.btn{
  padding:10px;
  min-width: 100px;
  font-size: 18px;
  border: none;
  border-radius: 5px 10px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.4);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.4);
}
.title{
  padding: 20px 0;
  font-size: 30px;
  background-color: black;
  color: #fff;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  border-right: 1px solid rgba(0,0,0,0.3);
  text-align: center;
}
.nav-anchor{
  display: block;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.nav-anchor:hover,
.nav-anchor.active{
  background-color: black;
  color: #fff;
}
.content{
  position: absolute;
  top: 0;
  left: 300px;
  padding: 50px 30px;
  width: calc(100% - 300px);
}

ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
ul.list::after {
	content: '';
	display: block;
	clear: both;
}
.tab-button {
	display: block;
	padding: 10px 20px 10px 20px;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.tab-button.active {
	border-top: 2px solid orange;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
	border-left: 1px solid #ccc;
	color: black;
	margin-top: -2px;
}
.tab-content {
	display: none;
	padding: 10px;
}
.tab-content.show {
	display: block;
}
.tab-content.hide{
    display:none;
}

/* Modal */
.black-bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 50px 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.5);
  transition:transform 0.5s;
  transform:translateY(-1200px);
  opacity:0;
}
.slide-down{
  transform: translateY(0px);
  opacity: 1;
}
.slide-up{
  transform:translateY(-1200px);
}
.white-bg{
  margin: 0 auto;
  position: relative;
  padding: 30px 20px 90px;
  width: 500px;
  height: auto;
  min-height: 300px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
}
.white-bg h1 {
  font-size: 30px;
}
.white-bg p {
  margin-top: 20px;
  font-size: 20px;
}
.white-bg .close{
  position: absolute;
  bottom: 30px;
  right: 20px;
}
/* Tooltip */
.tooltip-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip{
  position: relative;
  padding: 5px 10px;
  border: 1px solid #000;
  text-align: center;
}
.tooltip-text{
  position: absolute;
  z-index: 1;
  padding: 5px;
  min-width: 120px;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
.tooltip:hover .tooltip-text{
  visibility: visible;
}
.tooltip:hover .tooltip-text::after{
  position: absolute;
  content: "";
  border-width: 5px;
  border-style: solid;
}
.tooltip-right{
  top: 0;
  left: 110%;
}
.tooltip-right::after{
  top: calc(50% - 5px);
  right: 100%;
  border-color: transparent #000 transparent transparent;
}
.tooltip-left{
  top: 0;
  right: 110%;
}
.tooltip-left::after{
  top: calc(50% - 5px);
  left: 100%;
  border-color: transparent transparent transparent #000;
}
.tooltip-top{
  bottom: 130%;
  left: -6px;
}
.tooltip-top::after{
  top: 100%;
  left: calc(50% - 5px);
  border-color: #000 transparent transparent transparent;
}
.tooltip-bottom{
  top: 130%;
  left: -6px;
}
.tooltip-bottom::after{
  bottom: 100%;
  left: calc(50% - 5px);
  border-color: transparent transparent #000 transparent;
}